{% load static %}

<footer class="container-fluid custom-footer">
        <div class="container text-light">
            <div class="row align-items-center">
                <div class="col text-left">
                    <div class="p-1">
                        <span class="align-middle">Feito com Django</span>
                    </div>
                </div>
                <div class="col text-right">
                    <div class="p-1">
                        <span class="align-middle"></span>
            </div>
        </div>
    </footer>

    <script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'assets/font-awesome/js/all.js' %}"></script>
    <script src="{% static 'assets/custom/js/scripts.js' %}"></script>